/* Style the card using
    position,
    padding,
    margin,
    line-height,
    border
 */

h3 {
    position: fixed;
    padding: 5px 15px 5px 15px;
    border: solid black;
    top: 0;
}

h2 {
    position: fixed;
    margin: 50px 15px 5px 15px;
    padding: 15px 0 0 0;
}

p {
    border: solid black;
    position: fixed;
    margin: 45px 0 0 0;
    line-height: 80px;
    padding: 30px 15px 5px 15px;
}